body {
    color: #ffffff;
    background-color: #272727;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
    display: flex;
}

.logo {
    width: 90px;
    height: 90px;
}

.static {
    background-color: #303030;
    height: 100vh;
    position: sticky;
    top: 0px;
}

.main-header {
    display: flex;
    justify-content: space-around;
    width: 320px;
    height: 90px;
    padding: 5px;
}

.main-nav {
    width: 290px;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav-item {

    margin-bottom: 10px;
}

.main-nav-item a{
    color:#ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.main-nav-item * {
    padding: 0;
    margin: 0;
}

.main-nav-item img {
    margin: 8px;
}

.main-footer {
    width: 330px;
    position: absolute;
    bottom: 0;
}

.main-footer p {
    margin: 0;
    margin-left: 15px;
    margin-bottom: 15px;
}

.dynamic {
    margin: 0 auto;
    width: 50%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    word-wrap: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;
}

table th:nth-child(1) {
    width: 20%;
}

table th:nth-child(2) {
    width: 50%;
}

table th:nth-child(3) {
    width: 30%;
}

td, th {
    border: 1px solid black;
}

.stat-img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    background-color: #494949;
    border-radius: 24px;
}

a.active {
    background-color: #707070
}