{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block a_main %}class="active"{% endblock %}
{% block a_relevance %}href="/relevance"{% endblock %}
{% block a_geography %}href="/geography"{% endblock %}
{% block a_last_vacancies %}href="/last_vacancies"{% endblock %}

{% block content %}
<h1>Главная</h1>
<p>Профессия Python-разработчик является одной из самых перспективных и востребованных в современном мире. Python продолжает развиваться и улучшаться, появляются новые библиотеки, фреймворки и инструменты, расширяющие его возможности. Python используется во многих инновационных и актуальных областях, таких как искусственный интеллект, большие данные, интернет вещей, блокчейн и другие. Python-разработчик может расти и развиваться в своей профессии, изучая новые технологии, специализируясь в определенных сферах, повышая свой уровень квалификации и опыт работы. Python-разработчик может стать тимлидом, архитектором, техническим директором или начать свой собственный проект.</p>
{% endblock %}