{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'last_vacancies/style/style.css' %}">
</head>
<body>
    <section class="static">
        <header class="main-header">
            <img class="logo" src="{% static 'for_all/img/logo.png' %}">
        </header>
        <nav class="main-nav">
            <ul>
                <li class="main-nav-item">
                    <a href="/">
                        <img class="nav-pic" src="{% static 'for_all/img/main.svg' %}">
                        <p>Главная</p>
                    </a>
                </li>
                <li class="main-nav-item">
                    <a href="relevance">
                        <img class="nav-pic" src="{% static 'for_all/img/relevance.svg' %}">
                        <p>Востребованность</p>
                    </a>
                </li>
                <li class="main-nav-item">
                    <a href="geography">
                        <img class="nav-pic" src="{% static 'for_all/img/geography.svg' %}">
                        <p>География</p>
                    </a>
                </li>
                <li class="main-nav-item">
                    <a>
                        <img class="nav-pic" src="{% static 'for_all/img/skills.svg' %}">
                        <p>Навыки</p>
                    </a>
                </li>
                <li class="main-nav-item">
                    <a class="active">
                        <img class="nav-pic" src="{% static 'for_all/img/last_vacancies.svg' %}">
                        <p>Последние вакансии</p>
                    </a>
                </li>
            </ul>
        </nav>
        <footer class="main-footer">
            <p>РИ-220912</p>
            <p>Фадеев Артём Игоревич</p>
        </footer>
    </section>
    <section class="dynamic">
        <h1>Последние вакансии на HH.ru</h1>
        {% for k, v in vacancies.items %}
        <a class="vacancy-url" href="https://hh.ru/vacancy/{{k}}">
            <div class="vacancy-container">
                <h2 class="v-name">{{v.name}}</h2>
                <p class="v-description">{{v.description}}</p>
                <p class="v-skills">{{v.key_skills}}</p>
                <p class="v-employer">{{v.employer}}</p>
                <p class="v-salary">{{v.salary}}</p>
                <p class="v-area">{{v.area}}</p>
                <p class="v-pub-date">{{v.published_at}}</p>
            </div>
        </a>
        {% endfor %}
    </section>
</body>
</html>